{% extends "network/layout.html" %}
{% load static %}
{% block body %}


  <div class="container">
    {% if user.is_authenticated and user != user_profile %}
      <div class="button-left">
        {% if is_following %}
          <a class="btn btn-primary" id="unfollow-btn" href="{% url 'follow' user_profile %}">Unfollow</a>
        {% else %}
          <a class="btn btn-primary" id="follow-btn" href="{% url 'follow' user_profile %}">Follow</a>
        {% endif %}
      </div>
    {% endif %}
    <h2>Profile Page: {{ user_profile }}</h2>
    <!-- <p>{{ authenticated }}</p> -->
    <p class="follower-content">Followers: {{ followers }} | Following: {{ following }}</p>
    <h3>Posts</h3>
    {% for post in posts %}
      <div class="card-post">
        <h3><a href="{% url 'profile' post.user %}">{{post.user}}</a></h3>
        <p>
          {{ post.content }}
        </p>
        <i>{{post.date}}</i>
        <p>❤️ 0</p>
        <p><i>Comment</i></p>
      </div>
    {% endfor %}
  </div>


{% endblock %}
