
.container {
  max-width: auto;
  margin-top: 32px;
  padding: 0 16px;
}

.card-post {
  margin-bottom: 16px;
  padding: 1em;
  overflow: hidden;
  height: auto;
  background: white;
  border: solid 1px #e6e6e6;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.card-post h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-post p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 12px;
}

.card-post .card-post-infos {
  padding: 24px;
}

.follower-content {
  padding-right: 50%;
  font-size: 18px;
}
